.approval .container
  background: linear-gradient(180deg, #FBFFFB 0%, rgba(252, 255, 252, 0.34) 100%)
  padding-top: 117px
  padding-left: 155px
  padding-bottom: 1327px
  img
    position: absolute
.approval__title
  line-height: 74px
.approval__subtitle
  margin-top: 35px
  line-height: 47px
.approval__arrow
  left: 43.5%
  top: 62px
.approval__point
  width: 23px
  height: 23px
  top: 217px
  left: 42.3%
.approval__item
  width: 483px
  height: 142px
  background: linear-gradient(180deg, rgba(255, 251, 232, 0) 0%, #FFFFFF 100%)
  border: 3px solid #E4F2E9
  border-radius: 20px 20px 0px 0px
  padding-top: 43px
  text-align: center
  position: absolute
  @include font($PoppinsSB, $f36, #607467)
.approval__item:first-child
  left: 155px
  top: 523px
.approval__item:nth-child(2)
  left: 232px
  top: 819px
.approval__item:nth-child(3)
  width: 688px
  right: 255px
  top: 828px
.approval__item:nth-child(4)
  border-radius: 0px 0px 20px 20px
  right: 459px
  bottom: 491px
.approval__item:nth-child(5)
  border-radius: 0px 0px 20px 20px
  left: 232px
  bottom: 318px
.approval__item:nth-child(6)
  border-radius: 0px 0px 20px 20px
  left: 648px
  bottom: 96px
.approval__item:nth-child(7)
  border-radius: 0px 0px 20px 20px
  right: 253px
  bottom: 96px
.approval__vector1
  top: 684px
  left: 505px
.approval__vector2
  top: 867px
  left: 761px
.approval__vector3
  bottom: 640px
  right: 513px
.approval__vector4
  bottom: 440px
  left: 715px
.approval__vector5
  bottom: 240px
  left: 715px