.start .container
  width: 1764px
  background: linear-gradient(180deg, #F9F9F9 48.37%, rgba(253, 254, 255, 0) 53%)
  padding: 109px 0 330px
  overflow: hidden
  margin-bottom: 130px
.start__title
  text-align: center
  padding-top: 41px
  position: relative
  &:before
    width: 18px
    height: 18px
    border-radius: 50%
    left: 49.7%
    top: 0
    position: absolute
    background-color: $orange
.start__arrow
  position: absolute
  left: 47%
  top: 16%
.start__content
  display: flex
.start__phone-block
  position: absolute
  margin-top: 191px
  text-transform: capitalize
  margin-left: 20px
  padding-right: 25px

  //background-position: 0 8px
  //transform: rotate(29deg)
.start-phone__head
  background-repeat: no-repeat
  background-position: 95% 22px
  background-image: url(/img/dest/motionfilm-checkmark1.png)
  padding-top: 50px
  padding-bottom: 15px
.start-phone__graphic
  opacity: 0.6

.start__text
  margin-top: 130px
  margin-left: 60%
  padding-top: 35px
.start-text__item
  padding-top: 40px
  padding-left: 110px
.start-text__item:first-child
  @include bg(8px,12px,"/img/dest/motionfilm-select.png")
  margin-bottom: 142px
  padding-right: 87px
.start-text__item:nth-child(2)
  @include bg(9px,28px,"/img/dest/motionfilm-how-invest.png")
  margin-bottom: 171px
  padding-right: 87px
.start-text__item:last-child
  @include bg(10px,16px,"/img/dest/motionfilm-how-wait.png")
  padding-right: 129px
.start-text__title
  @include font($PoppinsB, $f30, #3E4258)
  line-height: 40px
.start-text__subtitle
  @include font($PoppinsB, $f18, #5E5F75)
  line-height: 30px
.start-text__p
  @include font($PoppinsM, $f18, #5E5F75)
  margin-top: 18px
  line-height: 30px
