.why .container
  background: linear-gradient(180deg, #FBFCFF 0%, rgba(252, 255, 252, 0.34) 100%)
  padding: 92px 0 143px
  img
    position: absolute
  &:after
    @include pseudo()
    bottom: 17px
    left: 0
    width: 100%
    height: 2px
    background-color: #E6E6E6
    z-index: 1
.why__title
  font-size: 50px
  line-height: 84px
  z-index: 2
  position: relative
.why__title--unique
  margin-left: 756px
.why__title--orange
  color: #F67D4B
.why__text
  color: #727483
  line-height: 47px
.why__text--important
  font-family: $PoppinsB
  color: #32323A
.why__p1
  margin-left: 759px
  margin-top: 50px
  padding-right: 160px
.why__p2
  margin-left: 563px
  margin-top: 46px
  padding-right: 353px
.why__p3
  margin-left: 216px
  margin-top: 58px
  padding-right: 160px
.why__title--invest
  margin-left: 155px
  margin-top: 203px
.why__p4
  margin-top: 53px
  margin-left: 155px
  padding-right: 641px
.why__arrow
  top: 134px
  left: 253px
.why__img1
  top: 90px
  left: 365px
.why__img2
  top: 203px
  left: 153px
.why__img3
  left: 126px
  bottom: 329px
  z-index: 1
.why__img4
  left: 295px
  bottom: 470px
.why__img5
  bottom: 15px
  left: 380px
.why__img6
  bottom: 0
  right: 96px
  z-index: 2
.why__img7
  width: 126px
  height: 126px
  top: 54px
  right: 485px
  z-index: 1



