@media (max-width: 1920px)
  .how-h__subtitle
  .header__card
    width: 340px
    height: 130px
    padding: 5px 10px 10px 110px
  .header__card--yellow
    right: -217px
    top: 37px
  .header__card--blue
    right: 93px
    bottom: 180px
  .header__card--orange
    right: -270px
    top: 380px
  .header__card--black
    left: -20px
    bottom: -70px
  .header__card--green
    right: 89px
    bottom: -70px
  .header__card--pink
    right: -314px
    bottom: -70px
  .header__card-circle
    width: 74px
    height: 74px
    top: 30px
    left: 20px
    padding: 18px
  .header__card-caption
    font-size: 14px
    margin-bottom: 0
  .header__card-text
    font-size: 11px
    line-height: 20px
  .header__how-img2
    width: 12%
    left: 26.7%
  .header__how-img1
    width: 59.6%
    top: 364px
    left: 146px



  .start
    background: linear-gradient(180deg, #F9F9F9 48.37%, rgba(253, 254, 255, 0) 85%)
    .container
      background: none
      width: 1400px
      padding: 109px 0 180px
  .start__arrow
    width: 125px
    top: 18%
  .start__phone-block
    background-size: 500px 800px
    max-width: 60%
    margin-top: 140px
    margin-left: 0px
  .start-phone__title
    padding-top: 57px
  .start-phone__investments-amount
    padding-left: 88px
    background-position: 43px 26px
  .start-column__number
    background-position: 21px 8px
  .start-text__item:first-child
    margin-bottom: 80px
    padding-right: 87px
  .start-text__item:nth-child(2)
    margin-bottom: 80px
    padding-right: 87px



  .approval
    background: linear-gradient(180deg, #FBFFFB 0%, rgba(252, 255, 252, 0.34) 100%)
    .container
      background: none
      padding-top: 72px
      padding-bottom: 1021px
  .approval__arrow
    width: 348px
  .approval__point
    width: 17px
    height: 17px
  .approval__item
    width: 328px
    height: 97px
    padding-top: 24px
  .approval__item:first-child
    left: 155px
    top: 432px
  .approval__item:nth-child(2)
    left: 200px
    top: 639px
  .approval__item:nth-child(3)
    width: 516px
    right: 226px
    top: 640px
  .approval__item:nth-child(4)
    right: 417px
    top: 827px
  .approval__item:nth-child(5)
    left: 176px
    top: 950px
  .approval__item:nth-child(6)
    left: 478px
    top: 1119px
  .approval__item:nth-child(7)
    right: 268px
    top: 1119px
  .approval__vector1
    width: 47px
    top: 539px
    left: 407px
  .approval__vector2
    width: 150px
    top: 671px
    left: 539px
  .approval__vector3
    top: 747px
    right: 428px
    width: 40px
  .approval__vector4
    top: 860px
    left: 509px
    width: 182px
  .approval__vector5
    top: 1009px
    left: 509px
    width: 45px


  .why
    background: linear-gradient(180deg, #FBFCFF 0%, rgba(252, 255, 252, 0.34) 100%)
    &:after
      @include pseudo()
      bottom: 17px
      left: 0
      width: 100%
      height: 2px
      background-color: #E6E6E6
      z-index: 1
    .container
      background: none
      &:after
        display: none
  .why__title--unique
    margin-left: 600px
  .why__p1
    margin-left: 600px
  .why__p2
    margin-left: 470px
  .why__p3
    margin-left: 170px
  .why__text
    font-size: 17px
    line-height: 40px

  .why__arrow
    top: 134px
    left: 181px
    transform: scale(0.9)
  .why__img1,.why__img2,.why__img3,.why__img4,.why__img5,.why__img6,.why__img7
    transform: scale(0.75)
  .why__img1
    top: 90px
    left: 307px
  .why__img2
    top: 203px
    left: 119px
  .why__img6
    bottom: -21px
  .why__img7
    top: 67px
    right: 147px

@media (max-width: 1440px)
  html
  .how-h__title
    font-size: 50px
    line-height: 70px
  .how-h__subtitle
    margin-top: 51px
    width: 43%
    line-height: 34px
  .header__card
    transform: scale(0.88)
  .header__card--yellow
    right: -131px
    top: 37px
  .header__card--blue
    right: 74px
    bottom: 250px
  .header__card--orange
    right: -249px
    top: 310px
  .header__card--black
    left: -40px
    bottom: -45px
  .header__card--green
    right: 66px
    bottom: -45px
  .header__card--pink
    right: -290px
    bottom: -45px
  .header__how-img1
    top: 39%
    left: 6%
    width: 64.6%
    transform: rotate(-10deg)




  .start .container
    width: 1280px
    padding: 109px 0 100px
    margin-bottom: 0
  .start__content,.start__arrow
    transform: scale(0.88)



  .approval .container
    padding-bottom: 900px
  .approval__system img
    transform: scale(0.88)
  .approval__item
    transform: scale(0.88)

  .approval__vector1
    width: 47px
    top: 527px
    left: 407px
  .approval__item:nth-child(2)
    left: 200px
    top: 619px
  .approval__vector2
    width: 150px
    top: 648px
    left: 517px
  .approval__item:nth-child(3)
    width: 516px
    right: 128px
    top: 622px
  .approval__vector3
    top: 725px
    right: 335px
    width: 40px
  .approval__item:nth-child(4)
    right: 302px
    top: 803px
  .approval__vector4
    top: 833px
    left: 488px
    width: 182px
  .approval__item:nth-child(5)
    left: 182px
    top: 914px
  .approval__vector5
    top: 959px
    left: 497px
    width: 45px
  .approval__item:nth-child(6)
    left: 446px
    top: 1058px
  .approval__item:nth-child(7)
    right: 183px
    top: 1058px

  .approval__point
    top: 167px
    left: 59.3%
  .approval__arrow
    left: 52.5%
    top: 35px

@media (max-width: 1280px)
  .header__how-img2
    left: 29.7%
  .header__how-img1
    top: 36%
    left: 6%
    width: 74.6%
  .header__how
    width: 75%
  .header__card--green
    right: 108px
  .header__card--pink
    right: -222px
  .start .container
    width: 1024px
    padding: 109px 0 0px
  .start__phone-img
    width: 500px
  .start__text
    margin-left: 0
    padding-left: 60%
  .start-text__item:first-child,.start-text__item:nth-child(2),.start-text__item:last-child
    padding-right: 0
  .approval .container
    padding-left: 0
  .approval__title
    padding-left: 30px
  .approval__subtitle
    padding-left: 30px
  .approval__point
    left: 50%
  .approval__item:first-child
    left: 20px
    top: 432px
  .approval__item:nth-child(2)
    left: 65px
    top: 639px
  .approval__item:nth-child(3)
    width: 420px
    right: 95px
    top: 640px
    padding-top: 10px
  .approval__item:nth-child(4)
    right: 182px
    top: 809px
  .approval__item:nth-child(5)
    left: 47px
    top: 920px
  .approval__item:nth-child(6)
    left: 299px
    top: 1070px
  .approval__item:nth-child(7)
    right: 69px
    top: 1070px
  .approval__vector1
    top: 536px
    left: 240px
  .approval__vector2
    width: 150px
    top: 670px
    left: 377px
  .approval__vector3
    top: 737px
    right: 233px
    width: 40px
  .approval__vector4
    top: 835px
    left: 354px
    width: 182px
  .approval__vector5
    top: 967px
    left: 366px
    width: 45px
  .why__title--unique
    margin-left: 400px
    padding-right: 20px
  .why__p1
    margin-left: 400px
    padding-right: 20px
  .why__p2
    margin-left: 270px
    padding-right: 20px
  .why__p3
    margin-left: 170px
    padding-right: 20px
  .why__p4
    margin-top: 53px
    margin-left: 100px
    padding-right: 20px
  .why__img1
    top: 90px
    left: 180px
  .why__img2
    left: 0
    top: 100px
  .why__img3
    left: 55px
    bottom: 296px
  .why__img4
    left: 209px
    bottom: 439px
  .why__img5
    bottom: 15px
    left: 15%
  .why__img6
    right: 0
  .why__title--invest
    margin-left: 100px
    margin-top: 100px
  .why__arrow
    top: 188px
    left: 0px
    transform: scale(.8)


@media (max-width: 1024px)
  .how-header
    padding-bottom: 40px
  .header__how
    width: 98%
  .header__card
    width: 290px
    height: 110px
  .header__card-circle
    width: 45px
    height: 45px
    top: 30px
    left: 20px
    padding: 8px
  .how-h__title
    font-size: 40px
    line-height: 50px
  .header__how-img2
    left: 30.7%
    width: 15%
  .header__card
    padding-top: 8px
    padding-left: 80px
  .header__card--yellow
    right: 12px
    top: 72px
  .header__card--blue
    right: 12px
    bottom: 370px
  .header__card--orange
    left: 12px
    top: auto
    bottom: 226px
  .header__card--black
    right: 12px
    left: auto
    bottom: 225px
  .header__card--green
    left: 12px
    bottom: 82px
  .header__card--pink
    right: 12px
    bottom: 81px
  .header__how-img1
    display: none
  .header__card-caption
    line-height: 28px
    margin-bottom: 5px
  .header__card-text
    font-size: 10px
    line-height: 16px

  .start .container
    width: 768px
    padding: 68px 0 0
  .start__content
    flex-direction: column-reverse
  .start__text
    margin-top: 0
    padding: 0 10%
    margin-bottom: 30px
  .start__arrow
    display: none
  .start__phone-block
    position: static
    max-width: 100%
    margin-top: 0
  .start__phone-img
    margin: 0 auto
    display: block
  .start-text__item:first-child,.start-text__item:nth-child(2)
    margin-bottom: 35px

  .approval .container
    padding-top: 30px
    padding-bottom: 622px
  .approval__point
    left: 62%
  .approval__subtitle
    margin-top: 7px
    line-height: 34px
  .approval__item
    width: 250px
    height: 70px
    border-radius: 10px 10px 0 0
    padding-top: 16px
    font-size: 20px
  .approval__item:first-child
    left: 10px
    top: 291px
  .approval__vector1
    width: 40px
    top: 360px
    left: 200px
  .approval__item:nth-child(2)
    top: 437px
    left: 63px
  .approval__vector2
    width: 108px
    top: 454px
    left: 294px
  .approval__item:nth-child(3)
    width: 370px
    right: 17px
    top: 437px
    bottom: auto
    padding-top: 16px
  .approval__vector3
    top: 503px
    right: 174px
    width: 32px
  .approval__item:nth-child(4)
    right: 130px
    top: 562px
  .approval__vector4
    top: 576px
    left: 261px
    width: 144px
  .approval__item:nth-child(5)
    left: 30px
    top: 640px
  .approval__vector5
    top: 678px
    left: 268px
    width: 30px
  .approval__item:nth-child(6)
    left: 220px
    top: 742px
  .approval__item:nth-child(7)
    right: 53px
    top: 742px

  .why .container
    padding: 40px 0 161px
  .why__title--unique
    font-size: 40px
    margin-left: 0
    padding-left: 20px
  .why__img7
    top: 21px
    right: 245px
  .why__img1
    top: 620px
    left: 20px
  .why__img2
    top: 83px
  .why__img3
    left: -18px
    bottom: 333px
  .why__img4
    left: 123px
    bottom: 352px
  .why__arrow
    display: none
  .why__p1
    margin-left: 200px
    padding-right: 20px
  .why__p2
    margin-left: 0
    padding-left: 30px
  .why__img3,.why__img2,.why__img1
    transform: scale(0.6)
  .why__title--invest
    margin-left: 0
    padding-left: 30px
    margin-top: 50px
    font-size: 40px
  .why__text
    font-size: 17px
    line-height: 40px

@media (max-width: 768px)
  .header__how
    width: 100%
  .header__card
    width: 270px
    height: 100px
  .how-h__title
    font-size: 35px
    line-height: 50px
  .how-h__subtitle
    margin-top: 20px
    width: 43%
    line-height: 28px
  .header__how-img2
    left: 35.7%
  .header__card
    padding-left: 70px
  .header__card-circle
    top: 30px
    left: 14px
  .header__card-caption
    line-height: 18px
    margin-bottom: 5px

  .start .container
      width: 576px
      padding: 68px 0 0
  .start__arrow, .start__content
    transform: scale(1)

  .approval .container
    padding-bottom: 766px
  .approval__item
      width: 250px
      height: 70px
      border-radius: 10px 10px 0 0
      padding-top: 16px
      font-size: 20px
      background: #fff
      z-index: 2
  .approval__item:first-child
    left: 10px
    top: 291px
  .approval__vector1
    width: 40px
    top: 360px
    left: 163px
  .approval__item:nth-child(2)
    top: 437px
    left: 27px
  .approval__system .approval__vector2
    transform: scale(0.88) rotate(90deg)
    width: 89px
    top: 535px
    left: 198px
  .approval__item:nth-child(3)
    width: 370px
    right: 17px
    top: 595px
    bottom: auto
    padding-top: 16px
  .approval__vector3
    top: 660px
    right: 174px
    width: 32px
  .approval__item:nth-child(4)
    right: 27px
    top: 718px
  .approval__vector4
    top: 758px
    left: 238px
    width: 96px
    z-index: 1
  .approval__item:nth-child(5)
    left: 30px
    top: 772px
  .approval__vector5
    top: 825px
    left: 263px
    width: 30px
    z-index: 1
  .approval__item:nth-child(6)
    left: 261px
    top: 850px
  .approval__item:nth-child(7)
    right: 65px
    top: 925px
  .approval__arrow
    left: 37.5%
    top: 35px

  .why__text
    font-size: 14px
    line-height: 30px
  .why__img1
    top: 548px
  .why__img7
    top: 9px
    right: 60px
  .why__title--unique,.why__title--invest
    font-size: 35px
    line-height: 60px
  .why__p4
    margin-top: 20px
    margin-left: 50px
    padding-right: 20px
  .why__img4
    display: none
  .why__img3
    bottom: 311px
  .why__img6
    transform: scale(0.55)
    bottom: -40px

@media (max-width: 576px)
  .how-header .container
    padding-left: 0
    max-height: 100%
  .how-header__wrap
    padding-left: 20px
    margin-bottom: 10px
  .header__how
    display: flex
    flex-direction: column
    height: auto
    padding: 22px 0
  .how-h__title,.how-h__subtitle
    padding-left: 50px
  .how-h__title br
    display: none
  .how-h__subtitle
    margin-top: 7px
    width: 90%
    line-height: 28px
    margin-bottom: 20px
  .header__card
    width: 250px
    height: 100px
    position: static
  .header__card--yellow
    align-self: flex-start
    left: 12px
    top: 144px
    bottom: auto
  .header__card--blue
    align-self: flex-end
    right: 12px
    bottom: auto
    top: 234px
  .header__card--orange
    align-self: flex-start
    left: 12px
    top: 324px
  .header__card--black
    align-self: flex-end
    right: 12px
    left: auto
    bottom: auto
    top: 414px
  .header__card--green
    align-self: flex-start
    left: 12px
    top: 504px
  .header__card--pink
    align-self: flex-end
    right: 12px
    top: 594px
  .header__how-img
    display: none

  .start .container
    width: 100%
    padding: 68px 0 0
  .start__arrow, .start__content
    transform: scale(1)
  .start-text__p
    margin-top: 10px
    line-height: 22px

  .approval .container
    padding-bottom: 20px
  .approval__title
    line-height: 50px
  .approval__subtitle
    line-height: 26px
    margin-bottom: 20px
  .approval__subtitle br
    display: none
  .approval__item
    position: static
    width: 90%
    margin: 0 auto 60px
    &:after
      display: block
      content: ''
      width: 30px
      height: 60px
      background-image: url(/img/dest/motionfilm-how-vector1.png)
      background-repeat: no-repeat
      background-size: cover
      margin: 30px auto 0
  .approval__item--media:after
    display: none
  .approval__item:nth-child(3)
    width: 90%
  .approval img
    display: none

  .why__title--unique,.why__title--invest
    font-size: 30px
  .why__title--unique
    padding-right: 195px
  .why__title--invest
    padding-right: 20px
  .why__text
    font-size: 14px
    line-height: 25px
    margin-left: 0
    padding-left: 20px
    padding-right: 20px
  .why__img7
    display: none
  .why__img1
    top: 51px
    right: 70px
    left: auto
    transform: scale(.4)
  .why__img3
    display: none
  .why__img2
    transform: scale(0.3)
    top: -23px
    left: auto
    right: -20px

@media (max-width: 467px)
  .why__title--unique
    padding-right: 100px
@media (max-width: 370px)
  .why__title--unique
    padding-right: 0