@media (max-width: 1920px)
  .header__how
    height: 690px
    width: 60%
  .how-h__title
    font-size: 60px
  .how-h__subtitle
  .header__card
    width: 340px
    height: 130px
    padding: 5px 10px 10px 110px
  .header__card--yellow
    right: -217px
    top: 37px
  .header__card--blue
    right: 93px
    bottom: 180px
  .header__card--orange
    right: -270px
    top: 380px
  .header__card--black
    left: -20px
    bottom: -70px
  .header__card--green
    right: 89px
    bottom: -70px
  .header__card--pink
    right: -314px
    bottom: -70px
  .header__card-circle
    width: 74px
    height: 74px
    top: 30px
    left: 20px
    padding: 18px
  .header__card-caption
    font-size: 14px
    margin-bottom: 0
  .header__card-text
    font-size: 11px
    line-height: 20px
  .header__how-img2
    width: 12%
    left: 26.7%
  .header__how-img1
    width: 59.6%
    top: 364px
    left: 146px



  .start
    background: linear-gradient(180deg, #F9F9F9 48.37%, rgba(253, 254, 255, 0) 85%)
    .container
      background: none
      width: 1440px
      padding: 109px 0 180px
  .start__arrow
    width: 125px
    top: 18%
  .start__phone-block
    background-size: 500px 800px
    width: 500px
    margin-top: 140px
    margin-left: 0px
  .start-phone__title
    padding-top: 57px
  .start-phone__investments-amount
    padding-left: 88px
    background-position: 43px 26px
  .start-column__number
    background-position: 21px 8px
  .start-text__item:first-child
    margin-bottom: 80px
    padding-right: 87px
  .start-text__item:nth-child(2)
    margin-bottom: 80px
    padding-right: 87px



  .approval
    background: linear-gradient(180deg, #FBFFFB 0%, rgba(252, 255, 252, 0.34) 100%)
    .container
      background: none
      padding-top: 72px
      padding-bottom: 1021px
  .approval__arrow
    width: 348px
  .approval__point
    width: 17px
    height: 17px
  .approval__item
    width: 328px
    height: 97px
    padding-top: 24px
  .approval__item:first-child
    left: 155px
    top: 432px
  .approval__item:nth-child(2)
    left: 200px
    top: 639px
  .approval__item:nth-child(3)
    width: 516px
    right: 226px
    top: 640px
  .approval__item:nth-child(4)
    right: 417px
    top: 827px
  .approval__item:nth-child(5)
    left: 176px
    top: 950px
  .approval__item:nth-child(6)
    left: 478px
    top: 1119px
  .approval__item:nth-child(7)
    right: 268px
    top: 1119px
  .approval__vector1
    width: 47px
    top: 539px
    left: 407px
  .approval__vector2
    width: 150px
    top: 671px
    left: 539px
  .approval__vector3
    top: 747px
    right: 428px
    width: 40px
  .approval__vector4
    top: 860px
    left: 509px
    width: 182px
  .approval__vector5
    top: 1009px
    left: 509px
    width: 45px


  .why
    background: linear-gradient(180deg, #FBFCFF 0%, rgba(252, 255, 252, 0.34) 100%)
    &:after
      @include pseudo()
      bottom: 17px
      left: 0
      width: 100%
      height: 2px
      background-color: #E6E6E6
      z-index: 1
    .container
      background: none
      &:after
        display: none
  .why__title--unique
    margin-left: 600px
  .why__p1
    margin-left: 600px
  .why__p2
    margin-left: 470px
  .why__p3
    margin-left: 170px
  .why__text
    font-size: 17px
    line-height: 40px

  .why__arrow
    top: 134px
    left: 181px
    transform: scale(0.9)
  .why__img1,.why__img2,.why__img3,.why__img4,.why__img5,.why__img6,.why__img7
    transform: scale(0.75)
  .why__img1
    top: 90px
    left: 307px
  .why__img2
    top: 203px
    left: 119px
  .why__img6
    bottom: -21px
  .why__img7
    top: 67px
    right: 147px

@media (max-width: 1440px)
  .how-h__title
    font-size: 50px
    line-height: 70px
  .how-h__subtitle
    margin-top: 51px
    width: 43%
    line-height: 34px
  .header__card
    transform: scale(0.88)
  .header__card--yellow
    right: -131px
    top: 37px
  .header__card--blue
    right: 74px
    bottom: 250px
  .header__card--orange
    right: -249px
    top: 310px
  .header__card--black
    left: -40px
    bottom: -45px
  .header__card--green
    right: 66px
    bottom: -45px
  .header__card--pink
    right: -290px
    bottom: -45px
  .header__how-img1
    top: 382px
    left: 119px




  .start .container
    width: 1280px
    padding: 109px 0 180px
  .start__content,.start__arrow
    transform: scale(0.88)



  .approval .container
    padding-bottom: 950px
  .approval__system img
    transform: scale(0.88)
  .approval__item
    transform: scale(0.88)

  .approval__vector1
    width: 47px
    top: 527px
    left: 407px
  .approval__item:nth-child(2)
    left: 200px
    top: 619px
  .approval__vector2
    width: 150px
    top: 648px
    left: 517px
  .approval__item:nth-child(3)
    width: 516px
    right: 128px
    top: 622px
  .approval__vector3
    top: 725px
    right: 335px
    width: 40px
  .approval__item:nth-child(4)
    right: 302px
    top: 803px
  .approval__vector4
    top: 833px
    left: 488px
    width: 182px
  .approval__item:nth-child(5)
    left: 182px
    top: 914px
  .approval__vector5
    top: 959px
    left: 497px
    width: 45px
  .approval__item:nth-child(6)
    left: 446px
    top: 1058px
  .approval__item:nth-child(7)
    right: 183px
    top: 1058px

  .approval__point
    top: 167px
    left: 52.3%
  .approval__arrow
    left: 52.5%
    top: 35px

  .questions__tabs
