@media (max-width: 1920px)
  .modal-popup
    width: 80%
    height: 100vh
    margin-left: -40%
  .modal__bg
    width: 55.7%
  .modal__text-block
    height: 88.4%
    width: 104.7%
  .modal__action
    padding: 176px 5.8% 68px 14.5%
  .modal__google,.modal__input,.modal__button
    width: 370px