html
  box-sizing: border-box
body
  display: grid
  font-size: 11px
  width: 100%
  height: 505px
  color: black

nav
  color: green
  font-size: 50px
  .class-1
    color: inherit
  .class-2
    color: initial
  .class-3
    color: unset

.all-property
  border: 1px solid black
  background: yellow

.fix-this
  all: unset

.box
  background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
  url(big-star.png) center no-repeat, rebeccapurple
